<style>

body {
  font-family: verdana; background-color: #43464b; color: #0BEDF7;
  }

.home {
  width: 70%;
  margin: auto;
  padding: 10px;
}

.skill:hover{
    color: #4169E1;
    cursor: pointer;

}

.aboutMe {
  height: 200px;
  float: left;
}

.aboutPage {
  margin-left: 50%;
}

.connect {
  margin-left: 50%;
    margin-top: 5%;
}

#applications button {
  border-radius: 4px;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

#applications button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

#applications button:hover{
  font-size: 19px;
}

.decTree{
    background-color: #D0F0C0;
    color: #0288d1;
    margin-right: 5%;
}

.naive{
    background-color: #FEAB77;
    color: #FF4023;
}

.applications{
  margin-top: 5%;
}

</style>
