
body{
  background-color: #333333;
  color: white;
	text-align: center;
  font-family: verdana;
}


.text{
  width: 80%;
  text-align: center;
  margin: 5% auto;
}

.hgHead{
  -webkit-text-stroke: 1px black; /* width and color */
}

.app{
  background-color: #ED7117;
  color: #FED8B1;
  border-style: solid;
  border-color: black;
  border-radius: 70px;
  width: 70%;
  height: 600px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

.upload {
  border-radius: 4px;
  background-color: #FED8B1;
  border: none;
  border-radius: 25px;
  color: #ED7117;
  text-align: center;
  font-size: 20px;
  padding: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 60px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  display: inline-block;
  position: relative;
  bottom: 14px;
}

.upload:focus{
  outline:0;
}

.back{

  float: left;
  margin-left: 10px;
  background-color: grey;
  color: #FED8B1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
}

/*
.upload:after {
  content: '»';

  position: absolute;
  opacity: 0;
  bottom: 14px;
  right: -20px;
  transition: 0.5s;
}


.upload:hover{
  padding-right: 24px;
  padding-left: 8px;
}

.upload:hover:after {
  opacity: 1;
  right: 10px;
}
*/
