body{
  background-color: #333333;
  color: white;
	text-align: center;
  font-family: verdana;
}


.text{
  width: 80%;
  text-align: center;
  margin: 5% auto;
}

.hgHead{
  -webkit-text-stroke: 1px black; /* width and color */
}

.back{

  float: left;
  margin-left: 10px;
  background-color: grey;
  color: #FED8B1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
}

.app{
  background-color: #ED7117;
  color: #FED8B1;
  border-style: solid;
  border-color: black;
  border-radius: 70px;
  width: 70%;
  max-width: 500px;
  height: 600px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

.reviewIt{
 border-radius: 4px;
 background-color: #FED8B1;
 border: none;
 border-radius: 25px;
 color: #ED7117;
 text-align: center;
 font-size: 20px;
 padding: 16px;
 width: 150px;
 transition: all 0.5s;
 cursor: pointer;
 margin-top: 60px;
 box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
 display: inline-block;
 position: relative;
 bottom: 14px;
}

.reviewIt:focus{
  outline:0;
}

.reviewIt:after {
  content: '»';
  position: absolute;
  opacity: 0;
  bottom: 14px;
  right: -20px;
  transition: 0.5s;
}

.reviewIt:hover{
  padding-right: 24px;
  padding-left: 8px;
}

.reviewIt:hover:after {
  opacity: 1;
  right: 10px;
}

.writeReview{
  display: none;
}

.moreInfo{
  display: none;
}


.inpReview{
  margin-top: 15%;
}

input[type=text] {
  border-radius: 20px;
  border-color: black;
  margin-top: 10%;
  background-color: #FED8B1;
  color: black;
  /*  color: #ED7117; */
  height: 80px;
  width: 80%;
  font-size: 30px;
}

input[type=text]:focus {
  outline: 0;
}
